{% extends "terminusgps_notifier/layout.html" %}
{% block title %}Create Notification{% endblock title %}
{% partialdef main %}
<form class="@container flex flex-col gap-8" method="post" action="{% url 'terminusgps_notifier:create notifications' resource_id %}">
    {% csrf_token %}
    <div class="flex flex-col gap-2">
        <input class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" type="text" id="id_n" name="n" maxlength="50" placeholder="New Notification" aria-described-by="id_n_helptext" required>
        <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_n">Notification Name: </label>
        <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_n_helptext">
            <p>Provide a memorable notification name.</p>
            <p>50 characters max.</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <select class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_method" name="method" aria-described-by="id_method_helptext" required>
            <option value="sms" selected>SMS</option>
            <option value="voice">Voice</option>
        </select>
        <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_method">Notification Method: </label>
        <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_method_helptext">
            <p>Select whether to deliver notification via sms or text-to-speech (voice).</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <input class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" type="text" id="id_message" name="message" maxlength="2048" placeholder="Hello! At %MSG_TIME%, your vehicle %UNIT% had its ignition switched on." aria-described-by="id_message_helptext" required>
        <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_message">Notification Message: </label>
        <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_message_helptext">
            <p>Provide a message to text/read aloud to target phone numbers.</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <select class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_tz" name="tz" required>
            {% for value, label in timezones %}
            <option value="{{ value }}">{{ label }}</label>
        {% endfor %}
        </select>
        <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_tz">Notification Timezone: </label>
        <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_tz_helptext">
            <p>TODO: Write helptext.</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <select class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_fl" name="fl" required>
            <option value="0" selected>Trigger on first message</option>
            <option value="1">Trigger on every message</option>
            <option value="2">Disabled</option>
        </select>
        <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_fl">Notification Flags: </label>
        <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_fl_helptext">
            <p>TODO: Write helptext.</p>
        </div>
    </div>
    <div class="bg-stone-300 rounded border border-stone-600">
        <div class="p-4 select-none cursor-pointer flex items-center gap-2 justify-between" _="on click toggle .hidden on #advanced-fields then toggle .hidden on #chevron-down then toggle .hidden on #chevron-up">
            <h4 class="font-semibold text-gray-800">Advanced Fields</h4>
            <svg id="chevron-up" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            <svg id="chevron-down" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hidden">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
            </svg>
        </div>
        <div class="hidden" id="advanced-fields">
            <div class="flex flex-col gap-8 p-4">
                <div class="flex flex-col gap-2">
                    <input class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" type="number" id="id_ma" name="ma" value="0" required>
                    <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_ma">Notification Max Alarms: </label>
                    <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_ma_helptext">
                        <p>Provide the maximum number of alarms (0 = unlimited).</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <select class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_mmtd" name="mmtd" required>
                        <option value="0" selected>Any Time</option>
                        <option value="60">1 minute</option>
                        <option value="600">10 minutes</option>
                        <option value="1800">30 minutes</option>
                        <option value="3600">1 hour</option>
                        <option value="21600">6 hours</option>
                        <option value="43200">12 hours</option>
                        <option value="86400">1 day</option>
                        <option value="864000">10 days</option>
                    </select>
                    <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_mmtd">Notification Max Message Interval: </label>
                    <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_mmtd_helptext">
                        <p>TODO: Write helptext.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <select class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_la" name="la" required>
                        <option value="en" selected>English</option>
                    </select>
                    <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_la">Notification Language: </label>
                    <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_la_helptext">
                        <p>TODO: Write helptext.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <input type="number" class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_cdt" name="cdt" max="1800" value="0" required>
                    <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_cdt">Notification Alarm Timeout: </label>
                    <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_cdt_helptext">
                        <p>TODO: Write helptext.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <select class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_cp" name="cp" required>
                        <option value="0" selected>Any Time</option>
                        <option value="60">Last minute</option>
                        <option value="600">Last 10 minutes</option>
                        <option value="3600">Last hour</option>
                        <option value="86400">Last day</option>
                    </select>
                    <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_cp">Notification Control Period: </label>
                    <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_cp_helptext">
                        <p>TODO: Write helptext.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <input type="number" class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_mast" name="mast" value="0" max="86400" required></select>
                    <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_mast">Notification Max Alarm Inteval: </label>
                    <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_mast_helptext">
                        <p>TODO: Write helptext.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <input type="number" class="peer p-2 border rounded bg-stone-50 user-invalid:border-red-700 user-invalid:placeholder:text-red-400 user-invalid:bg-red-50 user-valid:bg-green-50 user-valid:placeholder:text-green-400 user-valid:border-green-700 user-valid:text-green-700" id="id_mpst" name="mpst" value="0" max="86400" required></select>
                    <label class="font-semibold order-first peer-user-invalid:text-red-600 peer-user-valid:text-green-600" for="id_mpst">Notification Max Previous Inteval: </label>
                    <div class="text-sm peer-user-invalid:text-red-700 peer-user-valid:text-green-700" id="id_mpst_helptext">
                        <p>TODO: Write helptext.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="px-4 py-2 border border-current cursor-pointer rounded text-gray-100 bg-terminus-red-800 hover:bg-terminus-red-400 ease-in-out duration-300 transition-colors" type="submit">Create Notification</button>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
