{% extends "terminusgps_notifier/layout.html" %}
{% block title %}Dashboard{% endblock title %}
{% partialdef main %}
<div class="@container flex flex-col gap-8">
    <div id="greeting" class="p-8 border bg-stone-50 border-stone-300 shadow-sm rounded flex flex-col gap-8">
        <h3 class="font-semibold">Terminus GPS Notifier</h3>
    </div>
    <div id="stats" class="@container grid grid-cols-2 gap-0 shadow-sm" hx-target="this" hx-trigger="load once, every 10s" hx-get="{% url 'terminusgps_notifier:stats' %}">
        <div id="id_messages_count" name="messages_count" class="p-4 col-span-2 flex flex-col gap-2 border rounded-t border-gray-300 bg-stone-50">
            <div class="flex gap-2 items-center">
                <h3 class="font-semibold text-terminus-red-800">Messages</h3>
                <p>0/0</p>
            </div>
            <meter min="0" max="500" value="0"></meter>
            <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="#" hx-boost="false">Increase Limit</a>
        </div>
        <div id="id_wialon_account" name="wialon_account" class="p-4 flex flex-col gap-2 border-l border-b border-r rounded-bl border-gray-300 bg-stone-50 col-span-2 @md:col-span-1">
            <h3 class="font-semibold text-terminus-red-800">Wialon Account</h3>
            <p>Your Wialon account is .</p>
            <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="#" hx-boost="false">Refresh Token</a>
        </div>
        <div id="id_subscription" name="subscription" class="p-4 flex flex-col gap-2 border-r border-b rounded-br border-gray-300 bg-stone-50 col-span-2 @md:col-span-1">
            <h3 class="font-semibold text-terminus-red-800">Subscription</h3>
            <p>You are .</p>
            <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="#" hx-boost="false">Subscribe</a>
        </div>
    </div>
</div>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
