{% extends "terminusgps_notifier/layout.html" %}
{% block title %}Dashboard{% endblock title %}
{% partialdef main %}
<div class="flex flex-col gap-8">
    <div class="p-8 border bg-stone-50 border-stone-300 shadow-sm rounded flex flex-col gap-8">
        <label for="id_messages_count">Message Count</label>
        <div class="flex gap-2 items-center">
            <meter class="w-full" name="messages_count" id="id_messages_count" min="0" value="{{ customer.messages_count }}" max="{{ customer.messages_limit }}">{{ customer.messages_count }}/{{ customer.messages_limit }}</meter>
            <p>{{ customer.messages_count }}/{{ customer.messages_limit }}</p>
        </div>
        <div class="flex flex-col gap-4">
            <p>Your Wialon account <span class="font-semibold">{{ customer.token|yesno:'is connected, is not connected' }}</span>.</p>
            <a class="py-2 px-4 border border-terminus-red-600 rounded bg-terminus-red-800 text-white text-center ease-in-out duration-300 transition-colors hover:bg-terminus-red-400" href="{% url 'terminusgps_notifier:wialon login' %}{% querystring access_type=-1 activation_time=0 redirect_uri='http://127.0.0.1:8000/v3/wialon/callback/' %}">Connect Wialon Account</a>
        </div>
        <div class="flex flex-col gap-4">
            <p>You are <span class="font-semibold">{{ customer.subscription|yesno:'subscribed, not subscribed'  }}</span>.</p>
            <a class="py-2 px-4 border border-terminus-red-600 rounded bg-terminus-red-800 text-white text-center ease-in-out duration-300 transition-colors hover:bg-terminus-red-400" href="{% url 'terminusgps_payments:create subscription' %}">Subscribe</a>
        </div>
    </div>
</div>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
