{% extends "terminusgps_notifier/layout.html" %}
{% load date_utils money_utils %}
{% partialdef main %}
<div id="product" hx-get="{% url 'terminusgps_notifier:detail product' subscription.plan.product %}" hx-target="this" hx-trigger="load once"></div>
<p>${{ subscription.plan.amount|pennies_to_dollars|floatformat:'2g' }} every {{ subscription.plan.interval_count }} {{ subscription.plan.interval }}{{ subscription.plan.interval_count|pluralize }}.</p>
<p>{{ subscription.start_date|timestamp_to_datetime|date }}</p>
<p>{{ subscription.status }}</p>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
