{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<div class="flex flex-col gap-8">
    <div id="greeting" class="@container p-8 border bg-stone-50 border-stone-300 shadow-sm rounded flex flex-col gap-8">
        <h3 class="font-semibold">Terminus GPS Notifier</h3>
    </div>
    <div id="details" class="@container p-8 border bg-stone-50 border-stone-300 shadow-sm rounded flex flex-col gap-8">
        <div class="flex flex-col @md:justify-between @md:items-center @md:flex-row">
            <div>
                <h3 class="font-semibold">{{ resource.nm }}</h3>
                <p>{{ resource.unf|length }} notification{{ resource.unf|length|pluralize }}</p>
            </div>
            <a href="{% url 'terminusgps_notifier:units form' resource.id %}" hx-boost="true">
                <div class="p-2 border rounded bg-stone-300">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <p class="font-semibold">New Notification</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="notifications-list">
            {% for id, data in resource.unf.items %}
            <div id="{{ resource.id }}-{{ id }}">
                <p>{{ data.n }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
