{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="icon" href="{% static 'terminusgps_notifier/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'terminusgps_notifier/css/output.css' %}">
        <script src="{% static 'terminusgps_notifier/js/htmx.min.js' %}" defer></script>
        <title>{% block title %}{% endblock title %} | Terminus GPS Notifier</title>
    </head>
    <body class="text-gray-800 dark:text-gray-100" style='background-image: url("{% static 'terminusgps_notifier/img/background-light.png' %}");'>
        <nav class="flex justify-between bg-stone-100 text-gray-800 drop-shadow dark:bg-gray-800">
            <a href="{% url 'terminusgps_notifier:home' %}" class="group flex items-center space-x-1">
                <img src="{% static 'terminusgps_notifier/icon/logo-waypoint.svg' %}" class="size-16 animate-coin-slow group-hover:animate-none">
                <img src="{% static 'terminusgps_notifier/icon/logo-text.svg' %}" class="size-24">
            </a>
            <div class="px-4 flex items-center gap-2">
                <a href="#">
                    <div class="py-2 px-4 border rounded bg-stone-200 cursor-pointer flex items-center gap-2 animate-pulse">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                        </svg>
                        <p>Button</p>
                    </div>
                </a>
                <a href="#">
                    <div class="py-2 px-4 border rounded bg-stone-200 cursor-pointer flex items-center gap-2 animate-pulse">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                        </svg>
                        <p>Button</p>
                    </div>
                </a>
            </div>
        </nav>
        <main class="container mx-auto -mt-2 ">
            <div class="border-lr mx-8 border-gray-600 bg-stone-100 dark:bg-gray-800">
                <section class="p-8">
                    {% block content %}{% endblock content %}
                </section>
            </div>
        </main>
        <footer class="bottom-0 left-0 z-20 w-full p-4 bg-stone-100 border-t border-stone-300 shadow-sm md:flex md:items-center md:justify-between md:p-6">
            <span class="text-sm sm:text-center">© 2026 <a href="https://terminusgps.com/" class="hover:underline">Terminus GPS</a>. All Rights Reserved.</span>
            <ul class="flex flex-wrap items-center mt-3 text-sm sm:mt-0">
                <li>
                    <a hx-boost="true" href="{% url 'terminusgps_notifier:contact' %}" class="hover:underline me-4 md:me-6">Contact</a>
                </li>
                <li>
                    <a hx-boost="true" href="{% url 'terminusgps_notifier:privacy' %}" class="hover:underline me-4 md:me-6">Privacy</a>
                </li>
                <li>
                    <a hx-boost="true" href="{% url 'terminusgps_notifier:terms' %}" class="hover:underline me-4 md:me-6">Terms</a>
                </li>
                <li>
                    <a hx-boost="false" rel="external" href="{% url 'terminusgps_notifier:source' %}" class="hover:underline me-4 md:me-6">Source</a>
                </li>
            </ul>
        </footer>
    </body>
</html>

