{% extends "terminusgps_notifier/layout.html" %}
{% load static %}
{% partialdef main %}
<nav class="flex justify-between w-full items-center bg-stone-100 text-gray-800 drop-shadow dark:bg-gray-800">
    <a href="{% url 'terminusgps_notifier:home' %}" class="group flex items-center space-x-1">
        <img src="{% static 'terminusgps_notifier/icon/logo-waypoint.svg' %}" class="size-16 animate-coin-slow group-hover:animate-none">
        <img src="{% static 'terminusgps_notifier/icon/logo-text.svg' %}" class="size-24">
    </a>
    <div class="px-4 flex items-center gap-2">
        {% if user.is_authenticated %}
        <a href="{% url 'terminusgps_notifier:dashboard' %}">
            <div class="py-2 px-4 border rounded bg-stone-300 cursor-pointer transition-color ease-in-out duration-300 hover:bg-stone-100 flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <p>{{ user.username }}</p>
            </div>
        </a>
        <a href="#">
            <div class="py-2 px-4 border rounded bg-stone-300 cursor-pointer transition-color ease-in-out duration-300 hover:bg-stone-100 flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                <p>Logout</p>
            </div>
        </a>
        {% else %}
        <a href="#">
            <div class="py-2 px-4 border rounded bg-stone-300 cursor-pointer transition-color ease-in-out duration-300 hover:bg-stone-100 flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                </svg>
                <p>Register</p>
            </div>
        </a>
        <a href="#">
            <div class="py-2 px-4 border rounded bg-stone-300 cursor-pointer transition-color ease-in-out duration-300 hover:bg-stone-100 flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                </svg>
                <p>Login</p>
            </div>
        </a>
        {% endif %}
    </div>
</nav>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
