{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<form method="post" action="{% url 'terminusgps_notifier:select units' resource_id %}">
    {% csrf_token %}
    <select id="id_items_type" name="items_type">
        <option value="avl_unit">Units</option>
        <option value="avl_unit_group">Unit Groups</option>
    </select>
    <label>Units/Unit Groups:</label>
    <select id="id_units" name="units" multiple>
        {% for item in item_list %}
        <option value="{{ item.id }}">{{ item.nm }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
