{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<form method="post" action="{% url 'terminusgps_notifier:select resource' %}">
    {% csrf_token %}
    <label>Resource:</label>
    <select id="id_resource" name="resource">
        {% for resource in item_list %}
        <option value="{{ resource.id }}">{{ resource.nm }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
