{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<div id="id_messages_count" name="messages_count" class="p-4 col-span-2 flex flex-col gap-2 border rounded-t border-gray-300 bg-stone-50">
    <div class="flex gap-2 items-center">
        <h3 class="font-semibold text-terminus-red-800">Messages</h3>
        <p>{{ messages_count }}/{{ messages_limit }}</p>
    </div>
    <meter min="0" max="{{ messages_limit }}" value="{{ messages_count }}"></meter>
    <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="#" hx-boost="false">Increase Limit</a>
</div>
<div id="id_wialon_account" name="wialon_account" class="p-4 flex flex-col gap-2 border-l border-b border-r rounded-bl border-gray-300 bg-stone-50 col-span-2 @md:col-span-1">
    <h3 class="font-semibold text-terminus-red-800">Wialon Account</h3>
    <p>Your Wialon account is <span class="font-semibold">{{ has_token|yesno:'connected, not connected' }}</span>.</p>
    <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="{% url 'terminusgps_notifier:wialon login' %}{% querystring access_type=-1 activation_time=0 duration=0 redirect_uri=redirect_uri %}" hx-boost="false">Refresh Token</a>
</div>
<div id="id_subscription" name="subscription" class="p-4 flex flex-col gap-2 border-r border-b rounded-br border-gray-300 bg-stone-50 col-span-2 @md:col-span-1">
    <h3 class="font-semibold text-terminus-red-800">Subscription</h3>
    <p>You are <span class="font-semibold">{{ has_subscription|yesno:'subscribed, not subscribed' }}</span>.</p>
    <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="#" hx-boost="false">Subscribe</a>
</div>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
