{% extends "terminusgps_notifier/layout.html" %}
{% block title %}Notifications{% endblock title %}
{% partialdef main %}
{% for resource in resource_list %}
{% if resource.unf|length > 0 %}
<div id="{{ resource.id }}">
    <h4>{{ resource.nm }}</h4>
    <ul id="{{ resource.id }}_notifications_list" class="list-disc list-inside">
    {% for id, data in resource.unf.items %}
    <li id="{{ resource.id }}_{{ id }}">{{ data.n }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endfor %}
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
