{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<select class="p-2 rounded border bg-stone-50" id="id_items_type" name="items_type" hx-get="{% url 'terminusgps_notifier:select units' resource %}" hx-include="this" hx-trigger="change" hx-target="#unit_select_form" hx-select="#unit_select_form">
    <option value="avl_unit">Units</option>
    <option value="avl_unit_group">Unit Groups</option>
</select>
<form id="unit_select_form" class="@container flex flex-col gap-8" method="post" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="">
        <label class="font-semibold" for="id_units">Units/Unit Groups</label>
        <select class="p-2 rounded border bg-stone-50" id="id_units" name="units" multiple required>
            {% for choice in choices %}
            <option value="{{ choice.id }}">{{ choice.nm }}</option>
            {% endfor %}
        <select>
    </div>
    <button class="px-4 py-2 cursor-pointer rounded border border-terminus-red-600 bg-terminus-red-800 text-gray-100 transition-colors ease-in-out duration-300 hover:bg-terminus-red-400" hx-post="{% url 'terminusgps_notifier:select units' resource %}" type="submit">Next</button>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
