{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
{% csrf_token %}
<div class="flex flex-col gap-2">
    <select class="peer p-2 rounded border bg-stone-50 disabled:hidden" id="id_resource" name="resource" disabled>
        <option value="{{ resource_id }}" selected></option>
    </select>
    <label class="order-first font-semibold peer-disabled:hidden" for="id_resource">Resource</label>
</div>
<div class="flex flex-col gap-2">
    <select class="peer p-2 rounded border bg-stone-50 disabled:hidden" id="id_units" name="units" multiple></select>
    <label class="order-first font-semibold peer-disabled:hidden" for="id_resource">Units/Unit Groups</label>
</div>
<button class="px-4 py-2 rounded cursor-pointer border border-terminus-red-600 text-white bg-terminus-red-800 transition-colors ease-in-out duration-300 disabled:hidden" type="button">Next</button>
<button class="px-4 py-2 rounded cursor-pointer border border-terminus-red-600 text-white bg-terminus-red-800 transition-colors ease-in-out duration-300 disabled:hidden" type="submit" disabled>Submit</button>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
