{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<form class="@container flex flex-col gap-8" method="post" action="{% url 'terminusgps_notifier:create notification' %}" hx-target="this" hx-swap="outerHTML" hx-include="*">
    {% csrf_token %}
    <div class="flex items-center gap-4">
        <div class="flex flex-col gap-2">
            <select class="peer p-2 border rounded bg-stone-50" id="id_resource" name="resource" hx-get="{% url 'terminusgps_notifier:create notification' %}" hx-target="#id_units" hx-select="#id_units" hx-indicator="#unit-indicator" hx-trigger="revealed, change" aria-described-by="#id_resource_helptext">
                {% for resource in resources %}
                <option value="{{ resource.id }}">{{ resource.nm }}</option>
                {% endfor %}
            </select>
            <label class="order-first font-semibold" for="id_resource">Resource</label>
            <div id="id_resource_helptext">
                <p>Select a Wialon resource from the list.</p>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <select class="peer p-2 border rounded bg-stone-50" id="id_items_type" name="items_type" hx-get="{% url 'terminusgps_notifier:create notification' %}" hx-target="#id_units" hx-select="#id_units" hx-indicator="#unit-indicator" aria-described-by="#id_items_type_helptext">
                <option value="avl_unit">Units</option>
                <option value="avl_unit_group">Unit Groups</option>
            </select>
            <label class="order-first font-semibold" for="id_items_type">Items Type</label>
            <div id="id_items_type_helptext">
                <p>Select a Wialon items type.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <select class="peer p-2 border rounded bg-stone-50" id="id_units" name="units" multiple>
            {% for unit in units %}
            <option value="{{ unit.id }}">{{ unit.nm }}</option>
            {% endfor %}
        </select>
        <div class="order-first flex items-center gap-2">
            <label class="font-semibold" for="id_units">Units/Unit Groups</label>
            <svg id="unit-indicator" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 htmx-indicator animate-spin">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
        </div>
        <div id="id_units_helptext">
            <p>Select unit/unit groups to trigger the notification.</p>
            <p>Ctrl+click to select multiple. Cmd+click on Mac.</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <select class="peer p-2 border rounded bg-stone-50" id="id_trigger" name="trigger">
            {% for value, label in triggers %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        <label class="order-first font-semibold" for="id_trigger">Trigger</label>
    </div>
    <div class="flex flex-col gap-2">
        <input class="peer" type="text" id="id_trigger_parameters" name="trigger_parameters">
        <label class="order-first font-semibold" for="id_trigger_parameters">Trigger Parameters</label>
    </div>
    <div class="flex flex-col gap-2">
        <input class="peer p-2 border rounded bg-stone-50" type="text" id="id_name" name="name" placeholder="New Notification">
        <label class="order-first font-semibold" for="id_name">Notification Name</label>
        <div id="id_name_helptext">
            <p>Provide a memorable notification name.</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <select class="peer p-2 border rounded bg-stone-50" id="id_method" name="method">
            <option value="sms" selected>SMS</option>
            <option value="voice">Voice</option>
        </select>
        <label class="order-first font-semibold" for="id_method">Notification Method</label>
        <div id="id_method_helptext">
            <p>Select whether to send a notification via text (SMS) or text-to-speech call (Voice).</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <input class="peer p-2 border rounded bg-stone-50" id="id_message" name="message" type="text" placeholder="At %POS_TIME%, your vehicle %UNIT% had its ignition switched off.">
        <label class="order-first font-semibold" for="id_message">Notification Message</label>
        <div id="id_message_helptext">
            <p>Provide a message to be texted or read aloud on notification trigger.</p>
        </div>
    </div>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
