{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<form class="@container flex flex-col gap-4" method="post" action="{% url 'terminusgps_notifier:schedule form' %}">
    <div class="flex flex-col gap-2">
        {{ form.f1 }}
        <label class="order-first" for="id_f1">Interval 1 Start</label>
    </div>
    <div class="flex flex-col gap-2">
        {{ form.f2 }}
        <label class="order-first" for="id_f2">Interval 2 Start</label>
    </div>
    <div class="flex flex-col gap-2">
        {{ form.t1 }}
        <label class="order-first" for="id_t1">Interval 1 End</label>
    </div>
    <div class="flex flex-col gap-2">
        {{ form.t2 }}
        <label class="order-first" for="id_t2">Interval 2 End</label>
    </div>
    <div class="flex flex-col gap-2">
        {{ form.m }}
        <label class="order-first" for="id_m">Days of the month</label>
    </div>
    <div class="flex flex-col gap-2">
        {{ form.w }}
        <label class="order-first" for="id_w">Weekdays</label>
    </div>
    <div class="flex flex-col gap-2">
        {{ form.y }}
        <label class="order-first" for="id_y">Months</label>
    </div>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
