{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<div id="id_sensor_type_container" class="flex flex-col gap-2">
    <select id="id_sensor_type" name="sensor_type">
        <option value="" selected>Any</option>
        <optgroup label="Mileage">
            <option value="mileage">Mileage Sensor</option>
            <option value="odometer">Relative Odometer</option>
        </optgroup>
        <optgroup label="Digital">
            <option value="engine operation">Engine ignition sensor</option>
            <option value="alarm trigger">Alarm trigger</option>
            <option value="private mode">Private mode</option>
            <option value="real-time motion sensor">Real-time motion sensor</option>
            <option value="digital">Custom digital sensor</option>
        </optgroup>
        <optgroup label="Gauges">
            <option value="voltage">Voltage sensor</option>
            <option value="weight">Weight sensor</option>
            <option value="accelerometer">Accelerometer</option>
            <option value="temperature">Temperature sensor</option>
            <option value="temperature coefficient">Temperature coefficient</option>
        </optgroup>
        <optgroup label="Engine">
            <option value="engine rpm">Engine revolution sensor</option>
            <option value="engine efficiency">Engine efficiency sensor</option>
            <option value="engine hours">Absolute engine hours</option>
            <option value="relative engine hours">Relative engine hours</option>
        </optgroup>
        <optgroup label="Fuel">
            <option value="impulse fuel consumption">Impulse fuel consumption sensor</option>
            <option value="absolute fuel consumption">Absolute fuel consumption sensor</option>
            <option value="instant fuel consumption">Instant fuel consumption sensor</option>
            <option value="fuel level">Fuel level sensor</option>
            <option value="fuel level impulse sensor">Fuel level impulse sensor</option>
            <option value="battery level">Battery level sensor</option>
        </optgroup>
        <optgroup label="Other">
            <option value="counter">Counter sensor</option>
            <option value="custom">Custom sensor</option>
            <option value="driver">Driver assignment</option>
            <option value="trailer">Trailer assignment</option>
            <option value="tag">Passenger assignment</option>
        </optgroup>
    </select>
    <label for="id_sensor_type" class="order-first font-semibold">Sensor: </label>
</div>
<div id="id_sensor_name_mask_container" class="flex flex-col gap-2">
    <input type="text" id="id_sensor_name_mask" name="sensor_name_mask" required>
    <label for="id_sensor_name_mask" class="order-first font-semibold">Sensor Name Mask: </label>
</div>
<div id="id_lower_bound_container" class="flex flex-col gap-2">
    <input type="number" id="id_lower_bound" name="lower_bound" required>
    <label for="id_lower_bound" class="order-first font-semibold">Lower Bound: </label>
</div>
<div id="id_upper_bound_container" class="flex flex-col gap-2">
    <input type="number" id="id_upper_bound" name="upper_bound" required>
    <label for="id_upper_bound" class="order-first font-semibold">Upper Bound: </label>
</div>
<div id="id_prev_msg_diff_container" class="flex flex-col gap-2">
    <select id="id_prev_msg_diff" name="prev_msg_diff">
        <option value="0">Disabled</option>
        <option value="1">Enabled</option>
    </select>
    <label for="id_prev_msg_diff" class="order-first font-semibold">Form relative boundaries according to previous value?</label>
</div>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
