{% extends "terminusgps_notifier/layout.html" %}
{% partialdef main %}
<form class="@container flex flex-col gap-8" method="post" action="{% url 'terminusgps_notifier:trigger form' %}">
    {% csrf_token %}
    <div id="{{ form.t.id_for_label }}_container" class="flex flex-col gap-2">
        {{ form.t }}
        <label class="order-first" for="{{ form.t.id_for_label }}">Trigger</label>
    </div>
    <div id="{{ form.p.id_for_label }}_container" class="flex flex-col gap-2">
        {{ form.p }}
        <label class="order-first" for="{{ form.p.id_for_label }}">Parameters</label>
    </div>
    <script type="text/hyperscript">
        on change from #id_t
            htmx.ajax('GET', '/notifications/forms/' + #id_t.value + '/parameters/', '#{{ form.p.id_for_label }}_container')
    </script>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
